input{
    background:rgb(102, 31, 235);
    color: white;
    height: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font: inherit;
    border: 2px solid black;
    font-weight: 700;
    padding: 10px;
}
input:focus{
    background-color: royalblue;
}

 button{
    background-color:rgb(8, 153, 51);
    border: 1px solid white;
    font: inherit;
    margin: 5px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: slategrey;
}

div{
    font-weight: 700;
    margin: 5px;
    text-align: center;
}