input{
    background:rgb(102, 31, 235);
    color: white;
    border-radius: 20px;
    width: 30%;
    height: 40px;
    border-width: 10px;
    border-color:black;
    margin: 30px;
    font-weight: 700;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.sbutton{
    background-color:rgb(8, 153, 51);
    border: 1px solid white;
    font-size: 20px;
    margin: 5px;

}

div{
    font-weight: 700;
    margin: 5px;
}